* {
  box-sizing: border-box;
}

#toDolist {
  padding: 0 10px;
  margin: auto;
}

#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 20px;
}

.eachTask {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#inputTask {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

i {
  padding-right: 6px;
  color: rgb(104, 98, 98);
}

#inputTask {
  font-style: italic;
  height: 18px;
  border: none;
  width: 100%;
}

#clear {
  height: 30px;
  background-color: rgb(231, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

button {
  border: none;
  background-color: white;
}

.task {
  margin-top: 10px;
}

#addButton {
  font-size: 28px;
}

.delButton {
  font-size: 28px;
}

.task-item {
  height: 18px;
  border: none;
  width: 80%;
}

.inputWidth {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

@media screen and (min-width: 768px) {
  #toDolist {
    width: 70%;
    margin: auto;
  }
}

